<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <script>
        let fetchData = async () => {
            return new Promise((resolve, reject) => {
                setTimeout(() => {
                    resolve(fetch(' http://localhost:4000/tweets'))
                }, 3000)
            })
        }
        let res = async () => {
            console.log(await fetchData());
        }
        res()
    </script>
</body>

</html>